<html>

<head></head>

<body>
    <div>
        <div>
            启动参数
        </div>
        <div>
            domain<input type="string" id="domain" name="domain" value="">
        </div>
        <div>
            appkey<input type="string" id="appkey" name="appkey" value="">
        </div>
        <div>
            appid<input type="string" id="appid" name="appid" value="">
        </div>
        <div>
            secret<input type="string" id="secret" name="secret" value="">
        </div>
    </div>
    <div>
        <button onclick="openFinClipWindow()">open</button>
        <button onclick="closeFinClipWindow()">close</button>
    </div>
</body>
<script src="../src/mainScript.js"></script>

</html>