<html>
    <head></head>
    <body>
        <div>
            <button onclick="openFinClipWindow()">open</button>
            <button onclick="closeFinClipWindow()">close</button>
        </div>
        <div>
            left<input type="number" id="left" name="left" value="10">
            top<input type="number" id="top" name="top" value="10">
            width<input type="number" id="width" name="width" value="1000">
            height<input type="number" id="height" name="height" value="1000">
            <button onclick="setFinClipPosition()">set position</button>
        </div>
    </body>
    <script src="../src/mainScript.js"></script>
</html>